{% extends "base_template.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 90vh;">
    <div style="margin-bottom: 1em;">SELECT YOUR PROJECT</div>
    <select style="margin-bottom: 1em" id="project_id">
        {% for project in projects %}
        <option value="{{ project.id }}">{{ project.name }}</option>
        {% endfor %}
    </select>
    <div style="margin-bottom: 1em;">ENTER YOUR WORKER ID BELOW</div>
    <input style="margin-bottom: 1em" type="text" style="text-align: center;" value="{{ worker_id }}" id="worker_id">
    <input style="margin-bottom: 1em" type="button" value="READY TO WORK"
        onclick="window.location.href='/next_task/' + document.getElementById('worker_id').value">
</div>

{% endblock %}