<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <!-- Actually this should all build from an example project programatically-->
    <form>
        <input type="text" name="project_name" placeholder="Project Name">
        <input type="text" name="requirements" placeholder="Requirements">
        <input type="text" name="deliverables_description" placeholder="Deliverables Description">
        <!-- A table of tasks needed to complete the project-->
        <table>
            <thead>
                <tr>
                    <th>Task Type</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tr>
                <td>
                    <select>
                    <option value="design">Design</option>
                    <option value="development">Development</option>
                    <option value="testing">Testing</option>
                </select>
            </td>
            <td>
                <button>Add Above</button>
                <button>Remove</button>
                <button>Add Below</button>
            </td>
            </tr>
        </table>

    </form>
  </body>
</html>