{% extends "base_template.html" %}
{% block head %}
  {{ super() }}
  <style>
    .text-input-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .text-input-container textarea {
      height: 10em;
    }
    .text-input-container textarea:focus {
      outline: none;
    }
    .text-input-column {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  </style>
{% endblock %}
{% block content %}
    <!--Need two columns of text input-->
    <div class="text-input-container">
        <div class="text-input-column">
            <textarea name="workspace_output_1" placeholder="Text Input 1"></textarea>
        </div>
        <div class="text-input-column">
            <textarea name="workspace_output_2" placeholder="Text Input 2"></textarea>
        </div>
    </div>
{% endblock %}